@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Stack+Sans+Headline:wght@200..700&display=swap');


:root {
  --bs-primary: #ff7f50;
}


h1, h2, h5 {
  font-family: "Stack Sans Headline", sans-serif;
}

h1 {
    background-color: black;
}

p {
  font-family: "Lato", sans-serif;
}

.destacado {
  font-weight: 700;
  font-size: 1.1rem;        
  color: var(--bs-primary);   
}


#intro {
  font-size: 1.1rem;
  font-style: italic;
}


h1 {
  transition: color 3s;
}

h1:hover {
  color: rgb(255, 255, 255);

}


@media (max-width: 992px) {
  #vision .w-50 {
    width: 70% !important;
  }
  h1 {
    font-size: 2rem;
  }
  .card-body i {
    font-size: 2.8rem;
  }
  #momentos .col-md-2 {
    margin-bottom: 20px;
  }
  #fotos img {
    max-width: 85%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7rem;
    text-align: center;
  }
  h5 {
    font-size: 1.1rem;
  }
  #intro {
    font-size: 0.95rem;
  }
  .card-body i {
    font-size: 2.4rem;
  }
  #momentos .col-md-2 {
    margin-bottom: 25px;
  }
  #fotos img {
    max-width: 90%;
  }
  #vision .w-50 {
    width: 90% !important;
  }
}
